body {
    max-width: 900px;
    margin: 0 auto;
    background-color: whitesmoke;
}


img {
    height: 250px;
    width: 300px;
    box-shadow: 3px 4px #888888;
    border-radius: 10px;
}
.allie {
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px #888888;
}

ul {
    padding: initial;
}

h3 {
    color: #5f5757;
    margin: 8px;
}

li {
    
    display: inline-block;
    color: #5f5757;
    text-decoration: none;
    margin: 10px;
}

a {
    color: white;
    text-decoration: none;
}



  /* head nave bar style */
  nav {
	margin: 20px auto;
    width: 400px;
    height: 50px;
    background-color: #00ad31;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    width: 25%;
    border-radius: 8px;
    line-height: 50px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav a:hover {
    transition: 0.5s;
    background-color: #056320;
}
  
  /* head nave bar style */

  /* content */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  /* content */

  /* form style */

  .form {
    background-color: whitesmoke;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 10px;
    width: 320px;
    margin: 10px;

  }
  
  .title {
    color: #5f5757;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #5f5757;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #c9cad4;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #1d1d26;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }

  .cut-new {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }

  .input:focus ~ .cut-new,
  .input:not(:placeholder-shown) ~ .cut-new {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #1d1d26;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #c9cad4;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #00ad31;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #00ad31;
  }
  #change {
    text-decoration: none;
    background-color: #00ad31;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    border: 0;
    margin: 2px;
    color: white;
  }

  .lable-edit {
    color: #1d1d26;
    margin-left: 12px;
  }
  
  .form-signup {
    background-color: whitesmoke;
    border-radius: 20px;
    box-sizing: border-box;
    height: 550px;
    padding: 20px;
    width: 320px;
  }

  .form-admin {
    background-color: whitesmoke;
    border-radius: 20px;
    box-sizing: border-box;
    height: 425px;
    padding: 20px;
    width: 320px;
    margin-top: 15px;
  }

  .logout {
    background-color: #00ad31;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    border: 0;
  }

  .logout:hover {
    background-color: #dc2f55;
    transition: 0.5s;
  }

  .edit {
    text-decoration: none;
    background-color: #00ad31;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    border: 0;
    margin: 2px;
    color: white;
  }

  /* form style */