{% extends "home.jinja" %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block page_content %}

<h2>{{admin}}</h2>
<h2>Add User</h2>
    <form method="POST" action="/add_user_action">
    <div> <label>
                User Name
            </label>
    <input type="text" name="user_name"></div>
           <div> <label>
                Email
            </label>
    <input type="text" name="email"></div>
            <div><label>
                Password
            </label>
    <input type="text" name="password"></div>
    <input type="submit">
    </form>
    {% endblock  %}