{% extends "home.jinja" %}

{% block head %}
{{ super() }}
{% endblock  %}

{% block page_content %}

<form method="POST" action="/add_user_action">
<div class="form">
      
      <div class="title">Add user</div>
      <div class="input-container ic1">
        <input name='user_name' id="user_name" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="user_name" class="placeholder">User Name</label>
      </div>
      <div class="input-container ic1">
        <input name='email' id="email" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input name='password' id="password" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
      <button type="text" class="submit">ADD</button>
    </div>
</form>
    {% endblock  %}