{% extends "base.jinja" %}


{% block head %}
<img class="allie" src="../static/allie.png" alt="logo">
<h1>{{kitchen}}</h1>
  <nav>
  <a href="/">Home</a>
  {% if admin == True  %} 
  <a href="/create_dish">Create Dish</a>
  <a href="/add_user">Add User</a>
  {% endif %}
  <a href="/settings">Settings</a>
  
  </nav>

{{ super() }}
{% endblock  %}



{% block page_content %}
{% for item in menu %}

<div class='form'>
<ul>
    
    <h3>{{ item[0]}}</h3>  {% if admin == True  %} <button class="edit"><a class="edit" href="/edit_food/?id={{item[5]}}">EDIT</a></button> {% endif %}
    <img src="{{ item[3] }}" alt="food">
    <h3>Allergies</h3>
    {% set list1 = item[1].split(',') %}
    {% for list in list1 %}
    <li>{{ list }}</li>
    
    {% endfor %}
    
    
    
    </ul>
</div>

{% endfor %}
{% endblock %}
