{% extends "home.jinja" %}

{% block head %}
{{ super() }}
{% endblock  %}



{% block page_content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages  %}
    <h3>{{message}}</h3>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    


{# <h2>Change password</h2>
    <form method="POST" action="/change_password">
    
           <div> <label>
                Email
            </label>
    <input type="text" name="email"></div>
            <div><label>
                Password
            </label>
    <input type="text" name="password"></div>
    <div><label>
                New Password
            </label>
    <input type="text" name="new_password"></div>
    <input type="submit">
    </form>
    
<h2>Make Admin</h2>
    <form method="POST" action="/make_admin">
  <label>choose staff:</label>
  <select name="name">
  {% for name in names %}
    <option value='{{name[0]}}'>{{name[0]}}</option>
    {% endfor %}
  </select>
  <label>Admin:</label>
  <select name="admin">
    <option value='TRUE'>Make Admin</option>
    <option value='false'>Remove Admin</option>
  </select>
  <input type="submit">
</form> #}

<form method="POST" action="/change_password">
  <div class="form">
      <div class="title">Change Password</div>
      <div class="input-container ic1">
        <input name='email' id="email" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input name='password' id="password" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
      <div class="input-container ic2">
        <input name='new_password' id="new_password" class="input" type="text" placeholder=" " />
        <div class="cut"></div>
        <label for="new_password" class="placeholder">New Password</label>
      </div>
      <button type="text" class="submit">Change</button>
    </div>
</form>

<form method="POST" action="/make_admin">
<div class="form-admin">
      <div class="title">Admin Settings</div>
      <div class="input-container ic1">
      <select class="input" name="name">
      {% for name in names %}
      <option id="name"  type="text" placeholder=" ">{{name[0]}}</option>
      {% endfor %}
      </select>
        <div class="cut"></div>
        <label for="name" class="placeholder">Name</label>
       </div>

      <div class="input-container ic2">
        <select class="input" name="admin">
        <option value='TRUE'>Make Admin</option>
        <option value='false'>Remove Admin</option>
        </select>
        <div class="cut"></div>
        <label for="admin" class="placeholder">Admin</label>
       </div>
      <button type="text" class="submit">Change Admin</button>
    </div>
</form>


{% endblock  %}
